/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --md-ref-typeface-brand: 'Poppins';
  --md-ref-typeface-plain: 'Poppins';
  --md-fab-container-shadow-color: transparent;
}

html,
body {
  margin:0;
  padding:0;
}
